################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/StudyThread/obj/Debug
/.vs/SYL.Study/v16
